config MODULES
    bool
    default y

config USB4RT_VERSION
    string
    default "0.0.4"

menu "General"

config USB4RT_BANDW_RECLAM
bool "Bandwidth Reclamation"
default y
help
...TODO...

config USB4RT_LINUXDIR
string "Linux source directory"
default "/usr/src/linux"
help
...TODO...

config USB4RT_XENOMAIDIR
    string "Xenomai build tree"
    default "/usr/xenomai"
    help
    This variable contains the directory where was built your
    Xenomai. As explained before, you can change the value
    of the Xenomai build tree which is fixed by default to
    /usr/xenomai i.e. the build directory of the running Xenomai.

config USB4RT_INSTALLDIR
string "USB4RT installation Directory"
default "/usr/local/usb4rt"
help
...TODO...

endmenu


menu "Debug"

config USB4RT_DBG_COMMON
bool "Common debug messages"
default y
help
...TODO...

config USB4RT_DBG_TIME
bool "Time debug"
default y
help
...TODO...

config USB4RT_DBG_TD
bool "Transfer Descriptor debugging"
default n
help
...TODO...

config USB4RT_DBG_QH
bool "Queue-Head debugging"
default n
help
...TODO...

endmenu

